$icomoon-font-family: "ar-icon" !default;
$icomoon-font-path: "fonts" !default;

$ar-synth-saw: "\e900";
$ar-synth-sine: "\e901";
$ar-synth-square: "\e902";
$ar-synth-triangle: "\e903";
$ar-piano: "\e904";
$ar-electric-guitar: "\e905";
$ar-speaker: "\e906";
$ar-genre-synthwave: "\e907";

